<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>City Homes</title>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght=500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Navigation Bar -->
  <div>
    <app-navigation></app-navigation>
  </div>
  

  <!-- Main Content -->
  <div>
    <router-outlet></router-outlet>
  </div>

  <!-- <div>
    <app-footer></app-footer>
  </div> -->

</body>
</html>
